*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

a{
    display: inline-block;
    text-decoration: none;
}

header{
    padding: 15px 0;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 2;
    background-color: #009245;
    width: 100%;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container a{
    color: #FFE823;
    font-size: 25px;
    font-weight: 600;
}

header .container .logo{
    width: 50px;
}

header .container .user{
    width: 35px;
    padding: 5px;
}

header .container nav a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    
}

#inicio{
    top: -7.25%;
}

#inicio .row{
    position: absolute;
}

#inicio .col-9{
    padding: 0;
}

#inicio .col-9 img{
    width: 100%;
    display: block;
}

#inicio .col-3{
    background-color: black;
    padding: 0;
}

#inicio .col-3 .contactanos{
    margin-top: 75%;
    margin-left: 25%;
    margin-right: 25%;
}

#inicio .col-3 .contactanos h2{
    color: white;
    font-weight: 400;
    letter-spacing: 2px;
}

#inicio .col-3 .contactanos h3{
    color: #009245;
    font-size: 25px;
    font-weight: 500;
}

#inicio .col-3 .redes{
    display: flex;
}

#inicio .col-3 .redes a{
    margin: 0 7.5px;
}

#inicio .col-3 ul{
    padding-left: 0;
    list-style: none;
    margin: 0;
}

#inicio .col-3 ul li{
    margin-bottom: 10px;
}

#inicio .col-3 ul li a img{
    width: 45px;
}

#inicio .col-3 footer{
    text-align: center;
    color: white;
    position: relative;
    top: 25%;
}

#inicio .container-fluid{
    background-color: rgba(0, 0, 0, .6);
    position: relative;
    top: 80px;
    left: -350px;
    width: 400px;
    height: 600px;
}

#inicio .container-fluid .content{
    position: relative;
    top: 90px;
    font-family: 'Oleo Script', cursive;
    align-items: center;
}

#inicio .container-fluid .content img{
    width: 250px;
    position: relative;
    left: 18%;
}

#inicio .container-fluid .content h1{
    color: white;
}

#inicio .container-fluid .content h2{
    color: #FFE823;
    text-align: center;
    font-size: 50px;
}